.direnv
node_modules
.ipynb_checkpoints
.virtual_documents
__pycache__

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# qdrant
storage
.qdrant-initialized

# qter media
media
qter-channels

# secrets
username-real-names.txt
